@charset "UTF-8";
/* ========================================================= */
/* BASE SCSS                                                 */
/* ========================================================= */
@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@900&text=0123456789,.");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Kosugi Maru", sans-serif;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  padding-inline-start: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
          appearance: none;
}

main {
  margin: 0;
}

.header-wrapper {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header-wrapper header {
  padding: 5px 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper .button-wrapper .invest-button {
  color: rgba(233, 233, 233, 0.658);
  padding: 5px 20px;
  border: 1px solid rgba(233, 233, 233, 0.658);
  border-radius: 5px;
}
.header-wrapper .logo {
  width: 120px;
  height: 30px;
  background-image: url("../img/uribo-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media print, screen and (min-width: 768px) {
  .header-wrapper {
    background-color: #97e4b5;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media print, screen and (min-width: 768px) {
  .header-wrapper-logo {
    margin: 30px auto;
    width: 150px;
    height: 50px;
    background: url("../image/tittle-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
@media print, screen and (min-width: 768px) {
  .header-wrapper-inner {
    width: 200px;
    height: 100%;
    margin-right: 55px;
  }
}
@media print, screen and (min-width: 768px) {
  .header-wrapper-inner__list-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
@media print, screen and (min-width: 768px) {
  .header-wrapper-inner__list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-end;
  }
}
@media print, screen and (min-width: 768px) {
  .header-wrapper-inner__list-item-large {
    display: inline-block;
    margin: 0;
    font-size: 1.8rem;
    text-align: right;
    color: #97e4b5;
  }
}
@media print, screen and (min-width: 768px) {
  .header-wrapper-inner__list-item-small {
    display: inline-block;
    margin: 0;
    font-size: 1.2rem;
    text-align: right;
    color: #e0c39c;
  }
}
@media print, screen and (min-width: 768px) {
  .header-wrapper-inner__list-item-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all 1000ms 0s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    background-image: url(../image/meow.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  .header-wrapper-inner__list-item-profile:hover {
    transform: scale(1) rotate(360deg);
  }
}
.header-wrapper-inner__list-item__sns {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
}
.header-wrapper-inner__list-item__sns-twitter {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 2px;
}
.header-wrapper-inner__list-item__sns-twitter::before {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: -50px;
  content: "";
  color: #e0c39c;
  font-size: 2rem;
  font-family: fontAwesome;
}
.header-wrapper-inner__list-item__sns-github {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 10px;
}
.header-wrapper-inner__list-item__sns-github::before {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: -50px;
  content: "";
  color: #e0c39c;
  font-size: 2rem;
  font-family: fontAwesome;
}

.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.png) center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .logo-wrapper {
  width: 60%;
}
.hero .logo-wrapper .logo {
  width: 100%;
}
.hero-article {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-article .txt {
  color: rgba(233, 233, 233, 0.658);
  font-size: 1.6rem;
  letter-spacing: 8px;
}
.hero-article .txt:nth-child(n+2) {
  margin-top: 20px;
}
.hero .button-wrapper {
  margin-top: 150px;
}
.hero .button-wrapper .invest-button {
  color: rgba(233, 233, 233, 0.658);
  height: 40px;
  padding: 5px 20px;
  border: 1px solid rgba(233, 233, 233, 0.658);
  border-radius: 5px;
}

.invest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.invest-wrapper {
  margin-top: 40px;
  padding: 0 40px;
}
.invest .support-amount .value {
  margin-top: 0;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.invest .support-amount .unit {
  margin-left: 5px;
  font-size: 1.4rem;
  font-weight: bold;
}
.invest-meter {
  margin-top: 5px;
  height: 20px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}
.invest-meter-bar {
  width: 87.9%;
  height: 100%;
  background-color: #ecd49f;
  border-radius: 10px;
}
.invest-meter-bar .value {
  color: black;
  text-align: right;
  font-weight: bold;
  margin-right: 10px;
  line-height: 18px;
}
.invest-parameters {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.invest-parameters .parameter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.invest-parameters .parameter .value {
  font-size: 1.6rem;
  font-weight: bold;
}
.invest-parameters .parameter .value .unit {
  margin-left: 3px;
  font-weight: normal;
}
.invest .button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.invest .button-wrapper .invest-button {
  width: 100%;
  color: rgba(233, 233, 233, 0.658);
  background-color: #d18686;
  height: 40px;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 1px 2px black;
}
.invest .button-wrapper .share-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
  flex-wrap: wrap;
}
.invest .button-wrapper .share-list li {
  width: calc( ( 100% / 3 ) - 5px );
  height: 20px;
}
.invest .button-wrapper .share-list li:nth-of-type(n+2) {
  margin-left: 5px;
}
.invest .button-wrapper .share-list li button {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  font-size: 1rem;
}
.invest .button-wrapper .share-list li .share-url {
  background-color: #cfcfcf;
}
.invest .button-wrapper .share-list li .share-insta {
  background-color: #1b1b1b;
}
.invest .button-wrapper .share-list li .share-pin {
  background-color: #bd081c;
}
.invest .button-wrapper .share-list li .share-fb {
  background-color: #3b5998;
  color: rgba(233, 233, 233, 0.658);
}
.invest .button-wrapper .share-list li .share-twitter {
  background-color: #1da1f2;
  color: rgba(233, 233, 233, 0.658);
}

.concept {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.concept-article {
  margin-top: 40px;
}
.concept-article .sentence:nth-child(n+2) {
  margin-top: 20px;
}

.visual-wrapper {
  margin-top: 40px;
}