.swiper-button {
  &-prev, &-next{
    box-shadow: 0 2px 6px $shadow;
    border-radius: 50%;
    z-index: 100;
    width: 40px !important;
    height: 40px !important;
    background-color: $white;
    &::after {
      font-size: 2rem !important;
    }
  }
}

.swiper-container {
  z-index: -100 !important;
}