.concept {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-wrapper {
    margin-top: 20px;
    @include pc {
      width: 50%;
      min-width: 300px;
    }
  }
  &-img {
    width: 100%;
    height: 250px;
    background-image: url("../img/concept-img.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-article {
    margin-top: 40px;
    &__txt {
      font-size: 1.4rem;
      &:nth-child(n+2) {
        margin-top: 20px;
      }
    }
  }
}