.header {
  &-pc {
    padding: 5px 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-wrapper {
      position: fixed;
      width: 100%;
      height: 60px;
      top: 0;
      left: 0;
      z-index: 100;
      backdrop-filter: blur(5px);
    }
    &__logo {
      width: 120px;
      height: 30px;
      background-image: url("../img/uribo-logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    @include pc {
      display: none;
    }
  }
  &-sp {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    .invest-button--white {
      width: 200px;
      height: 50px;
      font-weight: bold;
      border: 3px solid $black;
      border-radius: 10px;
      background-color: $white;
      z-index: 1000;
    }
    @include pc {
      display: block;
    }
  }
}

