.products {
  @include pc {
    width: calc(100vw - 200px);
    height: 100%;
    margin: 0px 0px 0px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $color-2;
  }
  .main {
    &-contents {
      width: 100%;
      height: 500px;
      &-tittle {
        min-width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
        &-en {
          color: $color-2;
          width: 100%;
          text-align: center;
          font-size: 3rem;
          font-weight: bold;
          margin-bottom: 5px;
          border-bottom: solid 1px $color-1;
        }
        &-ja {
          color: $color-3;
          font-size: 1.6rem;
          margin: 2px;
        }
      }
      &-item {
        width: 80%;
        min-width: 250px;
        margin: 0px 36px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &__description {
          @include pc {
            width: 100%;
            height: 260px;
            border: solid $color-3;
            padding: 10px;
            display: flex;
            flex-direction: column;
          }

          &-wrap {
            @include pc {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 20px;
              background-color: rgba(0, 0, 0, 0.5);
            }
          }
          &-tittle {
            @include pc {
              height: 60%;
              margin: 0;
              font-size: 4rem;
              font-weight: bold;
              line-height: 4rem;
              color: $color-3;
            }
            &-type {
              @include pc {
                height: 45px;
                font-weight: bold;
                font-size: 1.6rem;
                color: $color-3;
                text-align: right;
              }
            }
            &-sub {
              @include pc {
                position: relative;
                color: $color-3;
                font-size: 1rem;
                bottom: -20px;
                text-align: right;
              }
            }
          }
        }
      }
      &-list {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
        .blog {
          &-1 {
            background: url("../image/meow.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        }
        .events {
          &-1 {
            background: url("../image/hacku2019sendai_3.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        }
        .products {
          &-1 {
            background: url("../image/ggjhakodate_1.jpg");
            background-repeat: no-repeat;
            background-position: right;
            background-size: cover;
          }
          &-2 {
            background: url("../image/hacku2019sendai_3.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
          &-3 {
            background: url("../image/hacku2018tokyo_1.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
          &-4 {
            background: url("../image/hacku2018hakodate_1.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
          &-5 {
            background: url("../image/hacku2017tokyo_1.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        }
        &-wrap {
          @include pc {
            width: 100%;
            max-width: 1000px;
            height: 400px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
    }
  }
}
