.team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &-wrapper {
    margin-top: $section-margin;
    padding: 0 40px;
  }
  &-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-list {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px;
    }
    &__img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &__name {
      margin-top: 5px;
    }
  }
}