.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
    @include pc {
      flex-direction: column;
    }
    &-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 20px;
      @include pc {
        flex-direction: row;
        align-items: start;
      }
    }
    &-wrapper {
      width: 100%;
      @include pc {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:nth-child(n+2) {
          margin-left: 20px;
        }
        .flex-wrapper-pc {
          display: flex;
        }
      }
    }
    &__img {
      width: 150px;
      height: 150px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
      @include pc {
        width: 200px;
        height: 150px;
        background-position: center;
      }
    }
    &__txt {
      width: calc( 50% - 10px );
      margin-left: 10px;
      text-align: left;
      font-size: 1.2rem;
      @include pc {
        width: auto;
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
      }
    }
    &__ttl {
      margin-top: 20px;
      text-align: center;
    }
  }
  &-wrapper {
    margin-top: $section-margin;
    padding: 0 40px;
  }
}
