.usage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-wrapper {
    margin-top: $section-margin;
    .invest-button-wrapper {
      padding: 0 40px;
    }
  }
  &-movie {
    position:relative;
    width: 100%;
    margin-top: 40px;
    @include pc {
      width: 50%;
    }
    &:before {
      content:"";
      display: block;
      padding-top: 56.25%;
    }
    iframe {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:first-child {
      margin-top: 40px;
    }
    @include pc {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    &-container {
      width: 100%;
      margin-top: 20px;
    }
    &__description {
      width: 100%;
      // height: 200px;
      margin-top: 10px;
      padding: 20px 40px 80px;
      @include pc {
        width: 400px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        margin-top: 0;
      }
      &-ttl {
        text-align: center;
        }
        &-txt {
          margin-top: 10px;
          text-align: center;
          @include pc {
            margin-top: 15px;
          }
        }
      }
    &__img {
      width: 375px;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @include pc {
        border-radius: 10px;
      }
    }  
  }
}