.usage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-wrapper {
    margin-top: $section-margin;
    .invest-button-wrapper {
      padding: 0 40px;
    }
  }
  &-movie {
    position:relative;
    width: 100%;
    margin-top: 40px;
    &:before {
      content:"";
      display: block;
      padding-top: 56.25%;
    }
    iframe {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }
  
  &-img {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &-container {
      width: 100%;
      // margin-top: 40px;
    }
    &__description {
      width: 100%;
      height: 200px;
      margin-top: 10px;
      padding: 0 40px;
      &-ttl {
        text-align: center;
      }
      &-txt {
        margin-top: 5px;
        text-align: center;
      }
    }
  }  

}