.visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-wrapper {
    margin-top: $section-margin;
    padding: 0 40px;
  }
  &-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin-top: 40px;
    @include pc {
      font-size: 1.2rem;
    }
    &:nth-child(n+2) {
      margin-left: 25px;
    }
    &-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &__image {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @include pc {
        width: 300px;
        height: 300px;
      }
    }
    &__name {
      margin-top: 10px;
      font-size: 1.4rem;
      text-align: center;
      font-weight: bold;
    }
    &__article {
      margin-top: 10px;
      padding: 0 10px;
      text-align: center;
    }
  }
  
}