@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@900&text=0123456789,.');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  // font-family: "M PLUS Rounded 1c", "Varela Round";
  font-family: 'Kosugi Maru', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  padding-inline-start: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}