$color-main: rgb(207, 230, 177);
$color-sub: rgb(255, 230, 177);
$color-1: rgba(209, 134, 134, 1.0);
$color-2: rgba(151, 228, 181, 1.0);
$color-3: rgba(224, 195, 156, 1.0);

$shadow: rgb(66, 66, 66);

$black: rgba(0, 0, 0, 1.0);
$black-inv: rgba(0, 0, 0, 0.2);
$white: rgb(255, 255, 255);
$gray: rgb(207, 207, 207);

$pin: rgba(189, 8, 28, 1.0);
$insta: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
$fb: rgba(59, 89, 152, 1.0);
$twitter: rgba(29, 161, 242, 1.0);

$gold: rgb(204, 173, 48);
$silver: rgb(188, 188, 188);
$copper: rgb(133, 77, 31);

$section-margin: 100px;
$section-margin-min: 50px;

$before-icon__padding-sp: 1.4rem;
$before-icon__padding-pc: 1.8rem;